<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
{{bootstrap.load_css()}}
</head>
<body>
<div class="container" style="background-image:url('./static/cafe%wifi.jpg')">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Cafe's Website</span>
      </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link active" aria-current="page">Home</a></li>
            {% if not current_user.is_authenticated: %}
        <li class="nav-item"><a href="{{url_for('register')}}" class="nav-link">Register</a></li>
        <li class="nav-item"><a href="{{url_for('login')}}" class="nav-link">Login</a></li>
        {% else %}
        <li class="nav-item"><a href="{{url_for('logout')}}" class="nav-link">Logout</a></li>
          {% endif %}
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>



  </div>